<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script>
		"use strict";
		$(document).ready(function(){

			const socket = io.connect();

			var name = prompt("Your name:")
			$("textarea").focus();
			socket.emit("got_new_user", {name})

			socket.on("welcome", data => {
				printMsgs(data.msgs);
				setTextareaData(data.username, data.id);
			});

			socket.on("update_users_everywhere", users => printUsers(users));

			socket.on("new_user", name => {
				alert(`${name.new_user_name} joined the chatroom`);
				$("textarea").focus();
			});

			$("textarea").keyup(event => { if(event.keyCode == 13) $("#send").click() });

			$("#send").click(function(){
				const msg = $("textarea").val();
				const userId = $("textarea").attr('id');
				socket.emit("got_new_msg", {msg:msg}, userId);
				$("textarea").val("");
			});

			socket.on("new_msg", function(msg, users, userId){
				const username = users.find(u => u.id === userId).username;
				const msgStr = `<p>${username} says: ${msg.msg}</p>`;
				$("#container").append(msgStr);
			});

			window.onbeforeunload = () => socket.emit("disconnect");

			socket.on("disconnected_user", (goodbyeUser, users) => {
				alert(`${goodbyeUser} left the chatroom`); 
				printUsers(users);
			});

			function setTextareaData(name, id) {
				$("textarea").attr('name', name);
				$("textarea").attr('id', id);
			} 

			function printMsgs(msgs) {
				msgs.forEach(msg => {
					const msgStr = `<p>${msg.username} says: ${msg.msg}</p>`;
					$("#container").append(msgStr);
				});
			}

			function printUsers(users) {
				var initialStr = "Users in the chatroom: ";
				const usersStr = users.reduce((str, user, i) => {
					return i === users.length - 1 ?
					`${str}${user.username} ` : `${str}${user.username}, `
				}, initialStr);
				$("#users").html(usersStr);
			}

		});
	</script>
</head>
<body>
	<h2>Chat Room</h2>
	<div id="container"></div>
	<div id="message">
		<textarea placeholder="enter your message here"></textarea>
		<div class="button-wrapper">
			<button id="send">Send</button>
		</div>
	</div>
	<div id="users"></div>
</body>
</html>