body {
	background-color: black;
	color: white;
	text-align: center;
}

#container {
	text-align: left;
	border: 1px solid white;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	width: 70%;
}

textarea {
	margin-top: 50px;
	width: 70%;
	padding: 10px;
}

button {
	margin-left: 65%;
	padding: 5px 10px;
}