* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	text-align: center;
}

#container {
	text-align: left;
	border: 1px solid white;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

textarea, .button-wrapper, #container {
	width: 70vw;
	max-width: 650px;
	min-width: 320px;
}

textarea { margin-top: 50px; padding: 10px; }

.button-wrapper { text-align: right; margin: 0 auto; }

button { padding: 5px 10px; cursor: pointer; }